.header { grid-area: header; }
.menu { grid-area: menu; }
.farver{ grid-area: farver; }
.ikoner{ grid-area: ikoner; }
.fonter{ frid-area: fonter}
.right{ grid-area: right; }
.footer { grid-area: footer; }
/*Sidens overordnede grid*/
.grid-container {
  display: grid;
  grid-template-columns: 250px auto auto auto 250px;
  grid-template-areas:
    'header header header header header'
    'menu main main main right'
    'menu main main main right'
    'menu main main main right'
    'footer footer footer footer footer';
  grid-gap: 3px;
  padding: 3px;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
/*farver*/
.farve-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  paddong: 3px;
}

.color-1 {
  background-color: #00454e;
  border: 5px solid black;
  padding: 20px;
  margin: 5px;
  font-size: 30px;
  text-align: center;
}

.color-2 {
  background-color: #cae4e3;
  border: 5px solid black;
  padding: 20px;
  margin: 5px;
  font-size: 30px;
  text-align: center;
}

.color-3 {
  background-color: #defffe;
  border: 5px solid black;
  padding: 20px;
  margin: 5px;
  font-size: 30px;
  text-align: center;
}

.color-4 {
  background-color: #6a6024;
  border: 5px solid black;
  padding: 20px;
  margin: 5px;
  font-size: 30px;
  text-align: center;
}

.color-5 {
  background-color: #d2be48;
  border: 5px solid black;
  padding: 20px;
  margin: 5px;
  font-size: 30px;
  text-align: center;
}

.color-6 {
  background-color: #fbe355;
  border: 5px solid black;
  padding: 20px;
  margin: 5px;
  font-size: 30px;
  text-align: center;
}

.color-7 {
  background-color: #9b3c7d;
  border: 5px solid black;
  padding: 20px;
  margin: 5px;
  font-size: 30px;
  text-align: center;
}

.color-8 {
  background-color: #f1c9c0;
  border: 5px solid black;
  padding: 20px;
  margin: 5px;
  font-size: 30px;
  text-align: center;
}

.color-9 {
  background-color: #ffffff;
  border: 5px solid black;
  padding: 20px;
  margin: 5px;
  font-size: 30px;
  text-align: center;
}

/*Ikoner*/
.ikon-grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  padding: 3px;
}

/*Typografi*/
.font-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 3px;
}

.font {
  border: 3px solid black;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.font-1 {
  border: 3px solid black;
  paddng: 20px;
  font-size: 30px;
  text-align: center;
  font-family: 'Proxima Nova Alt Bold',sans-serif;
}

.font-2 {
  border: 3px solid black;
  paddng: 20px;
  font-size: 25px;
  text-align: center;
  font-family: 'Proxima Nova Alt Bold',sans-serif;
}

.font-6 {
  border: 3px solid black;
  paddng: 20px;
  font-size: 12px;
  text-align: center;
  font-family: 'Proxima Nova Alt Rg',sans-serif;
}

.font-størrelse {
  border: 3px solid black;
  paddng: 20px;
  font-size: 30px;
  text-align: center;
}

/*Knap*/
.knap{
  border: 3px solid black;
  border-radius: 10px;
  padding: 5px;
  background: white;
  max-width: 10%;
}

/*Klub Boks*/
.klub-box {
  border: 3px solid #00454e;
  border-radius: 10px;
  padding: 5px;
  background-image: url("xxx.png");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 10%;
}

/*Baggrund for de forskellige områder*/
.header {
  background-color: #00454e;
  color: #ffffff;
}

.menu {
  background-color: #ffffff;
}

.right {
  background-color: #ffffff;
}

.main {
  background-color: #cae4e3;
}

/*Tekst retteler/Overruling af tekst standarder*/
* a {
  color: black;
  text-decoration: none;
}

* h2 {
  text-align: left;
}

* h3 {
  text-align: left;
}
