.header { grid-area: header; }
.menu { grid-area: menu; }
.main{ grid-area: main; }
.right{ grid-area: right; }
.footer { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'menu header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  grid-gap: 3px;
  background-color: #00454E;
  padding: 3px;
}

.grid-container > div {
  background-color: #CAE4E3;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.main-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 3px;
  background-color: black;
}

.color-1 {
  background-color: #00454e;
  border: 3px solid black;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.color-2 {
  background-color: #cae4e3;
  border: 3px solid black;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.color-3 {
  background-color: #defffe;
  border: 3px solid black;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.color-4 {
  background-color: #6a6024;
  border: 3px solid black;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.color-5 {
  background-color: #d2be48;
  border: 3px solid black;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.color-6 {
  background-color: #fbe355;
  border: 3px solid black;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.color-7 {
  background-color: #9b3c7d;
  border: 3px solid black;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.color-8 {
  background-color: #f1c9c0;
  border: 3px solid black;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.color-9 {
  background-color: #ffffff;
  border: 3px solid black;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

* h3 {
  text-align: left;
}
