* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #00454E;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

nav {
  background-color: #CAE4E3;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  height: 100%;
  width: 30%;
}

nav ul {
  list-style-type: none;
  padding: 10px;
  margin-top: 30px;
}

li a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #00454E;
  display: block;
}

li {
  padding: 5%;
}

article {
  margin-left: 30%; /* Same as the width of the sidenav */
  font-size: 18px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

section::after {
  content: "";
  display: table;
  clear: both;
}

.logo img {
  border: 3px solid #00454E;
  border-radius: 10px;
}

.logo-b1 {
  width: 40%;
  height: 40%;
}

.logo-b2 {
  width: 54%;
  height: 54%;
}

.farve {
  display: flex;
  flex-wrap: wrap;
}

.color-1 {
  background-color: #00454e;
  border: 5px solid black;
  border-radius: 10px;
  padding: 20px;
  margin: 5px;
  font-size: 30px;
  text-align: center;
  width: 25%;
}

.color-2 {
  background-color: #cae4e3;
  border: 5px solid black;
  border-radius: 10px;
  padding: 20px;
  margin: 5px;
  font-size: 30px;
  text-align: center;
  width: 25%;
}

.color-3 {
  background-color: #defffe;
  border: 5px solid black;
  border-radius: 10px;
  padding: 20px;
  margin: 5px;
  font-size: 30px;
  text-align: center;
  width: 25%;
}

.color-4 {
  background-color: #6a6024;
  border: 5px solid black;
  border-radius: 10px;
  padding: 20px;
  margin: 5px;
  font-size: 30px;
  text-align: center;
  width: 25%;
}

.color-5 {

  background-color: #d2be48;
  border: 5px solid black;
  border-radius: 10px;
  padding: 20px;
  margin: 5px;
  font-size: 30px;
  text-align: center;
  width: 25%;
}

.color-6 {

  background-color: #fbe355;
  border: 5px solid black;
  border-radius: 10px;
  padding: 20px;
  margin: 5px;
  font-size: 30px;
  text-align: center;
  width: 25%;
}

.color-7 {
  background-color: #9b3c7d;
  border: 5px solid black;
  border-radius: 10px;
  padding: 20px;
  margin: 5px;
  font-size: 30px;
  text-align: center;
  width: 25%;
}

.color-8 {
  background-color: #f1c9c0;
  border: 5px solid black;
  border-radius: 10px;
  padding: 20px;
  margin: 5px;
  font-size: 30px;
  text-align: center;
  width: 25%;
}

.color-9 {
  background-color: #ffffff;
  border: 5px solid black;
  border-radius: 10px;
  padding: 20px;
  margin: 5px;
  font-size: 30px;
  text-align: center;
  width: 25%;
}

.ikon {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin: 10px;
}

.button {
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
  .b1 {background-color: #CAE4E3;border: 3px solid #00454E; color: #00454E;}
  .b2 {background-color: #FBE355;border: 3px solid #6A6024; color: #6A6024;}
  .b3 {background-color: #F1C9C0; border: 3px solid #9B3C7D; color: #9B3C7D;}

.bokse {
    display: grid;
    grid-template-columns: auto auto auto ;
    padding: 3px;
  }

.klub-box {
  border: 3px solid #00454e;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  background-image: url("../IMG/Rectangle 15.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #00454E;
}

.klub-box-indhold {
  border: 3px solid #00454e;
  border-radius: 10px;
  margin: 3px;
  padding: 3px;
  background-color: #CAE4E3;
  color: #00454E;
  width: 50%
}

.UCL-box {
  border: 3px solid #6A6024;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  background-image: url("xxx.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #6A6024;
  }

  .UCL-box-indhold {
    border: 3px solid #6A6024;
    border-radius: 10px;
    margin: 3px;
    padding: 3px;
    background-color: #FBE355;
    color: #6A6024;
    width: 50%
  }

.typografi {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;
  }

.font-type {
    border: 3px solid black;
    border-radius: 10px;
    margin: 10px;
    paddng: 10px;
    font-size: 30px;
    text-align: center;
    width: 15%;
  }

.font-størrelse {
      border: 3px solid black;
      border-radius: 10px;
      margin: 10px;
      paddng: 10px;
      font-size: 30px;
      text-align: center;
      width: 15%;
    }

.font-1 {
    border: 3px solid black;
    border-radius: 10px;
    margin: 10px;
    paddng: 10px;
    font-size: 30px;
    text-align: center;
    font-family: 'Proxima Nova Alt Bold',sans-serif;
    width: 60%;
  }

.font-2 {
      border: 3px solid black;
      border-radius: 10px;
      margin: 10px;
      paddng: 10px;
      font-size: 30px;
      text-align: center;
      font-family: 'Proxima Nova Alt Bold',sans-serif;
      width: 60%;
    }

.font-3 {
    border: 3px solid black;
    border-radius: 10px;
    margin: 10px;
    paddng: 10px;
    font-size: 30px;
    text-align: center;
    font-family: 'Proxima Nova Alt Rg',sans-serif;
    width: 60%;
  }

.ikon-nav {
  overflow: hidden;
  background-color: #00454E;
  bottom: 0;
  width: 50%;
  height: 100%px;
}

.ikon-nav a {
  float: left;
  width: 20%;
  height: 100%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}

.active {
  background-color: #CAE4E3;
}

.header {
  overflow: hidden;
  background-color: #00454E;
  top:  0;
  width: 50%;
  height: 100%px;
}

.header a {
  float: left;
  width: 20%;
  height: 100%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: white;
}

.header h4 {
  float: left;
  width: 60%;
  height: 100%;
  text-align: center;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.kode {
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  background-color: #00454E;
  color: #CAE4E3;
}

footer {
  background-color: #00454E;
  padding: 10px;
  text-align: center;
  color: white;
}
